<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% if app.user %}
        <header>
            <twig:Navbar />
        </header>
        {% endif %}
        <main>
            <div class="container">
                {% for flash in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        {{ flash }}
                    </div>
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </main>
        <footer>
            <div class="container-fluid fixed-bottom ">
                <div class="row">
                    <div class="col text-center p-2 bg-light">
                        {{ "now"|date('Y') }} &copy; Project Core
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
